<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<main role="main">

			<section class="jumbotron text-center">
				<img class="d-block mx-auto mb-4" th:src="@{/image/crud.png}"
					width="250" height="70">
			</section>

			<div class="album py-2 bg-light">
				<div class="container">
					<div class="container">
						<h2 class="d-flex justify-content-center">Cadastro de Ano</h2>
					</div>

					<div class="d-flex justify-content-center">
						<div class="col-md-12">
							<div th:replace="fragments/alert"></div>
							<form th:action="@{/anos/salvar}" enctype="multipart/form-data"
								th:object="${ano}" method="POST" class="was-validated">

								<div class="form-row">
									<div class="form-group col-md-6">

										<div class="input-box">
											<label for="ano">Ano</label>
										</div>

										<div>
											<input type="number" class="form-control" th:field="*{ano}"
												id="ano"   min="1990" max="2100" placeholder="Nome da Imagem" required />
											<div class="invalid-feedback">Ano é requerida minimo: 1990 maximo: 2100.</div>
										</div>
									</div>
								</div>

								<input type="hidden" th:field="*{id}" />

								<div class="form-group row">
									<div class="col-sm-10">
										<button type="submit" class="btn btn-primary"
											data-toggle="tooltip" data-placement="right"
											title="Cadastrar">
											Cadastrar <i class="fas fa-save"></i>
										</button>
									</div>
								</div>
							</form>

							<hr />

							<h2 class="d-flex justify-content-center">Lista de Anos</h2>

							<table id="table-anoCrud"
								class="table table-sm table-striped table-bordered nowrap"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Ano</th>

										<th scope="col">Editar</th>
										<th scope="col">Excluir</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>

		</main>
	</section>
	<script th:src="@{/js/ano.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>